<div [@slideUpDownAnimation]="isVisible ? 'visible' : 'hidden'"
     class="flex-container about-background">
  @if (isMobile) {
    <div class="fake-header about-header"></div>
    <div class="about-mobile-text">
      <p class="m-b-0">MENNIZ is the natural result of a continuous dialogue between two disciplines: architecture and interior design.</p>
      <p class="m-b-0 m-t-2">The atelier was founded by Mariana Menano and Gonçalo Diniz in 2019.
        Their creative process and working methodology stem from a longstanding
        relationship intertwined with successful, independent careers.</p>
      <p class="m-b-0">Mariana and Gonçalo have a combined professional experience of over 20 years,
        both in the United Kingdom and Portugal.</p>

      <p class="m-b-0 m-t-2">For Mariana, the work developed for leading brands within the hotel and restaurant
        sectors was essential in setting her benchmark when delivering interior design projects.</p>

      <p class="m-b-0">For Gonçalo, the knowledge gathered from his involvement in all phases and types of
        architectural projects, from public spaces and services to residential projects,
        was fundamental in establishing his methodology and collaborative process.</p>

      <p class="m-b-0 m-t-2">Back in Lisbon, they both kept on progressing in their respective disciplines,
        maturing on renewed approaches and design strategies that inevitably made them
        begin to feel the need for something of their own.</p>

      <p class="m-b-0 m-t-2">MENNIZ is their new chapter in the process of blending architecture with interior design.
        A multidisciplinary and collaborative atelier that firmly believes that
        teamwork process is paramount to every project.</p>
      <p class="m-b-0 m-t-2">This principle manifests itself by inviting and coordinating different
        specialists including engineers, designers, craftsmen, and artists. All with the single purpose of pushing the
        boundaries of clients' expectations and creating timeless spaces.</p>

      <p class="m-b-0 m-t-2 email-menniz" (click)="openMail()">{{ 'info\@menniz.pt' }}</p>
      <p class="m-b-0">+351 919 717 122</p>
      <p class="m-b-0">+351 919 717 123</p>
      <p class="m-b-0 m-t-2 small-text">© 2024 MENNIZ&emsp;All rights reserved</p>
    </div>

  } @else {
    <div class="left about-text">
      <img src="assets/images/About.jpg" alt="MENNIZ" width="900" class="m-b-1" loading="eager">

      <p class="m-b-0">MENNIZ is the natural result of a continuous dialogue between two disciplines: </p>
      <p class="m-b-0">architecture and interior design.</p>
      <p class="m-b-0 m-t-2">The atelier was founded by Mariana Menano and Gonçalo Diniz in 2019.
        Their creative process and working methodology stem from a longstanding
        relationship intertwined with successful, independent careers.</p>
      <p class="m-b-0">Mariana and Gonçalo have a combined professional experience of over 20 years,
        both in the United Kingdom and Portugal.</p>

      <p class="m-b-0 m-t-2">For Mariana, the work developed for leading brands within the hotel and restaurant
        sectors was essential in setting her benchmark when delivering interior design projects.</p>

      <p class="m-b-0">For Gonçalo, the knowledge gathered from his involvement in all phases and types of
        architectural projects, from public spaces and services to residential projects,
        was fundamental in establishing his methodology and collaborative process.</p>

      <p class="m-b-0 m-t-2">Back in Lisbon, they both kept on progressing in their respective disciplines,
        maturing on renewed approaches and design strategies that inevitably made them
        begin to feel the need for something of their own.</p>

      <p class="m-b-0 m-t-2">MENNIZ is their new chapter in the process of blending architecture with interior design.
        A multidisciplinary and collaborative atelier that firmly believes that
        teamwork process is paramount to every project.</p>
      <p class="m-b-0 m-t-2">This principle manifests itself by inviting and coordinating different
        specialists including engineers, designers, craftsmen, and artists. All with the single purpose of pushing the
        boundaries of clients' expectations and creating timeless spaces.</p>

      <p class="m-b-0 m-t-2 email-menniz" (click)="openMail()">{{ 'info\@menniz.pt' }}</p>
      <p class="m-b-0">+351 919 717 122</p>
      <p class="m-b-0">+351 919 717 123</p>
      <p class="m-b-0 m-t-2 small-text">© 2024 MENNIZ&emsp;All rights reserved</p>
    </div>
  }
</div>

<!--
MENNIZ é o resultado natural de um diálogo contínuo entre duas disciplinas: arquitetura e design de interiores.

O atelier foi fundado por Mariana Menano e Gonçalo Diniz em 2019. O seu processo criativo e metodologia de trabalho derivam de uma longa relação pessoal entreligada por carreiras independentes e bem-sucedidas.

Em conjunto, Mariana e Gonçalo têm uma experiência profissional combinada com mais de 20 anos, tanto em Portugal como no Reino Unido.

Para a Mariana, o trabalho desenvolvido em conjunto com marcas líderes nos setores de hotelaria e restauração foi essencial para estabelecer o seu benchmark para a entrega de projetos de design de interiores.

Para o Gonçalo, o conhecimento adquirido em todas as fases de um projeto de arquitetura, desde espaços públicos e serviços até projetos residenciais, foi fundamental para a criação da sua metodologia e processo colaborativo.

Em Lisboa, ambos continuaram a progredir nas suas respetivas disciplinas, aprimorando novas abordagens e estratégias de design que, inevitavelmente, lhes fizeram sentir a necessidade de algo próprio.

MENNIZ é o seu novo capítulo neste processo de fusão entre a arquitetura e o design de interiores. Um atelier multidisciplinar e colaborativo que acredita que o trabalho em equipa é imprescindível a qualquer projeto.

Um princípio que se manifesta no convite e coordenação de diferentes especialistas, incluindo arquitetos, designers, engenheiros, artesãos e artistas, de modo a alargar as expetativas dos clientes e dar vida a espaços intemporais.
-->
