
.about-background {
  background-color: var(--background-beige);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 150;
}

.about-text {
  font-family: 'Martina';
  font-variant-numeric: oldstyle-nums;
  width: 50%;
  font-size:20px;
  font-weight: 550;
  padding: 2.1rem 2.1rem 1.4rem;
  line-height: 34px;
}

.about-header {
  background-color: var(--background-beige);
  position: sticky;
  top: 0;
}

.about-mobile-text {
  font-size: 15px;
  font-weight: 575;
  padding: 0 24px 24px;
}

.m-b-0 {
  margin-bottom: 0
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.email-menniz {
  cursor: pointer;
}

.small-text {
  font-size: small;
}
