
<div class="flex-container about-background">
  <div class="left about-text">
    <p class="m-b-0">Founded by Mariana Menano and Gonçalo Diniz in 2022.</p>
    <p class="m-b-0">The practice has gained an international reputation for its</p>
    <p>housing, cultural, educational and mixed-use projects.</p>

    <p class="m-b-0 m-t-2">Sometimes described as architect detectives, the studio finds</p>
    <p class="m-b-0">new connections between materials, landscape, climate, history</p>
    <p class="m-b-0">and culture. Drawing on social histories, construction traditions,</p>
    <p class="m-b-0">contemporary art and fashion, projects emerge firmly rooted in</p>
    <p>their place.</p>

    <p class="m-b-0 m-t-2">Menano Diniz is the product of longstanding collaborations with</p>
    <p class="m-b-0">engineers, horticulturalists and artists. Teaching and research is</p>
    <p class="m-b-0">a continuous backdrop to the studio. Tom Emerson is professor</p>
    <p class="m-b-0">of architecture and Dean of the Department of Architecture, eth</p>
    <p class="m-b-0">Zurich where he leads a research and design studio exploring the</p>
    <p>relationship between making and the territory.</p>

    <p class="m-b-0 m-t-2">{{ 'info\@menanodiniz.com' }}</p>
    <p>+351 918 721 621</p>

    <p class="m-b-0 m-t-2">Travessa de Sta. Quitéria 17</p>
    <p class="m-b-0">1250-209 Lisboa</p>
    <p>Portugal</p>

  </div>

  <div class="right about-icon">
    <app-rotate-button [expanded]="expanded" (expandedChange)="closeAbout()"></app-rotate-button>

    <img src="assets/images/About.jpg" alt="MENNIZ" width="800" class="m-t-2">
  </div>


</div>
