.about-background {
  background-color: var(--background-grey);
  min-height: 100vh;
  min-width: 100vw;
}

.about-text {
  font-family: math; // TODO: CHECK THIS FONT
  width: 50%;
  font-size: 1.8rem;
  font-weight: 550;
  margin: 8rem 2.1rem 2.1rem;
  line-height: 34px;
}

.about-icon-close {
  margin-top: 2rem;
  margin-right: 2rem;
  text-align: right;
}

.m-b-0 {
  margin-bottom: 0
}

.m-t-2 {
  margin-top: 2rem;
}
