<div class="flex-container about-background">
  <div class="left about-text">
    <img src="assets/images/About.jpg" alt="MENNIZ" width="900" class="m-b-1" loading="eager">

    <p class="m-b-0">MENNIZ is the natural result of a continuous dialogue between two disciplines: </p>
    <p class="m-b-0">architecture and interior design.</p>
    <p class="m-b-0 m-t-2">The atelier was founded by Mariana Menano and Gonçalo Diniz in 2019.</p>
    <p class="m-b-0">Their creative process and working methodology stem from a longstanding couple relationship
      intertwined with successful, independent careers.</p>
    <p class="m-b-0">Mariana and Gonçalo have a combined professional experience of over 20 years, both in the United
      Kingdom and Portugal.</p>

    <p class="m-b-0 m-t-2">For Mariana, the work developed for leading brands within the hotel and restaurant
      sectors was essential to set her benchmark when delivering interior design projects.</p>

    <p class="m-b-0">For Gonçalo, the knowledge gathered from being involved in all phases of architectural projects,
      from public spaces and services to residential projects, was fundamental to establish his methodology
      and collaborative process.</p>

    <p class="m-b-0 m-t-2">Back in Portugal, they both kept on progressing in their disciplines, maturing on renewed
      approaches and design strategies that inevitably made them begin to feel the
      need for something of their own.</p>

    <p class="m-b-0 m-t-2">MENNIZ is their new chapter in this process of blending architecture with interior
      design. A multidisciplinary and collaborative atelier that believes that every project requires a
      teamwork process by inviting and coordinating different specialists from architects, designers, engineers,
      craftsmen to artists with the single purpose of achieving the clients’ expectations.</p>

    <p class="m-b-0 m-t-2 email-menniz" (click)="openMail()">{{ 'info\@menniz.com' }}</p>
    <p class="m-b-0">+351 919 717 122</p>
    <p>+351 919 717 123</p>
  </div>

  <div class="right about-icon-close">
    <app-rotate-button [expanded]="expanded" (expandedChange)="closeAbout()"></app-rotate-button>


  </div>


</div>
