$container-height: 100vh;

ngb-carousel {
  text-align: center;
  height: $container-height;

  ::ng-deep .carousel-inner {
    margin-top: calc((#{$container-height} - #{imageHeight()}) / 2);
  }
}

:host {
  ::ng-deep {
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 3rem;
      height: 3rem;
      background-image: none;
    }

    .carousel-control-prev, .carousel-control-next {
      width: 20%;
    }
    .carousel-control-prev {
      padding-right: 3rem;
    }
    .carousel-control-next {
      padding-left: 3rem;
    }

    button {
      &:hover {
        .carousel-control-prev-icon {
          background-image: url("../../assets/svg/chevron_left.svg");
        }
      }

      &:hover {
        .carousel-control-next-icon {
          background-image: url("../../assets/svg/chevron_right.svg");
        }
      }
    }
  }
}

.img-wrapper {
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
  // transform: translateY(5%);
}

.close-slideshow {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 99;
}

.arrow-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.project-name-slide {
  font-family: math; // TODO: CHECK THIS FONT
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 99;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--grey-letter);
}
