<!--<gallery [items]="galleryItems"></gallery>-->

<ngb-carousel #carousel class="img-wrapper">
  @for (image of selectedImages; track image) {
    <ng-template ngbSlide>
      <img #carouselImages class="img-wrapper" [src]="image" loading="eager" (click)="togglePaused()"/>
    </ng-template>
  }
</ngb-carousel>

<span class="project-name-slide">
  {{selectedProject?.description}}
</span>

<span class="close-slideshow">
  <mat-icon class="arrow-icon" (click)="closeSlideShow()">west</mat-icon>
</span>
