:host {
  button {
    background: transparent;
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 50%;
    font-size: 1.5em;
    position: relative;
    outline: none;
  }

  button span {
    position: absolute;
    transition: 0.3s;
    background: var(--dark-icon);
    border-radius: 10px;
  }

  button span:first-of-type {
    top: 25%;
    bottom: 25%;
    width: 5%;
    left: 50%;
  }

  button span:last-of-type {
    left: 28%;
    right: 23%;
    height: 5%;
    top: 47%;
  }

  button.expanded span:first-of-type,
  button.expanded span:last-of-type {
    transform: rotate(90deg);
  }

  button.expanded span:last-of-type {
    left: 50%;
    right: 50%;
  }
}
