.mobile-container {
  margin: 0 24px 0 24px;
  padding-bottom: 1px;
  overflow-y: auto;
  max-height: 100vh;
  -ms-overflow-style: none;
}
.mobile-container::-webkit-scrollbar {
  display: none;
}

.mobile-description {
  font-family: 'Martina';
  font-variant-numeric: oldstyle-nums;
  font-size: 15px;
  font-weight: 575;
  color: var(--grey-letter);
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 24px;
  }
}

.img-wrapper {
  max-width: 100vw;
  height: calc(100vw - 42px);
  text-align: center;
}

:host {
  ::ng-deep {

    .carousel-control-next-icon, .carousel-control-prev-icon {
      background-image: none;
    }

    .carousel-control-prev, .carousel-control-next {
      width: 30%;
    }
  }

  ngb-carousel {
    text-align: center;

    ::ng-deep {
      .carousel-inner {
        height: 564px;
        max-width: 100vw;
        max-height: calc(100vw - 42px);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        max-width: 100vw;
        max-height: calc(100vw - 42px);
      }
    }
  }
}

.mobile-hr {
  margin: 0;
  margin-bottom: 21px;
  color: var(--grey-letter);
  opacity: 0.5;
}
