.mobile-container {
  margin: 0 24px 0 24px;
  padding-bottom: 1px;
}

.mobile-description {
  font-family: 'Martina';
  font-variant-numeric: oldstyle-nums;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-letter);
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 24px;
  }
}

.img-wrapper {
  max-width: 100vw;
  text-align: center;
}

:host {
  ::ng-deep {
    .carousel-control-prev, .carousel-control-next {
      width: 30%;
    }
  }
  ngb-carousel {
    text-align: center;

    ::ng-deep .carousel-inner {
      height: 564px;
      max-width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.mobile-hr {
  margin: 0;
  color: var(--grey-letter);
  opacity: 0.5;
}
