<main class="main">
  @if(isMobile) {
    <header id="mobileHeader" class="close-fixed-header">
      <img id="mobile-menniz-logo" class="menniz-logo-mobile"
           src="assets/layout-images/menniz_black_no_background.png"
           alt="MENNIZ" width="156" height="29">
      <div class="about-icon-mobile">
        <img id="openCloseIconMobile" src="assets/svg/smaller_plus.svg"
             class="add-icon-mobile" (click)="openAbout()">
      </div>
    </header>

  } @else {
    <header class="close-fixed-header">
      <div class="about-icon">
        <img id="openCloseIcon" src="assets/svg/plus.svg"
             class="add-icon" (click)="openAbout()">
      </div>
    </header>
  }

  <router-outlet></router-outlet>
</main>

