:host {
  --background-light: #fffffe;
  --background-grey: #dfdfd7;
  --background-dark: #1a1919;

  --dark-icon: #323130;

  --dark-letter: #1a1919;
  --light-letter: #fffffe;
  --grey-letter: #8a8b8a;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Arizona";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  background-color: var(--background-light);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.left {
  order: 1;
}

.right {
  order: 2;
}

.fixed-header {
  // position: absolute;
  z-index: 99;
}

.menniz-logo {
  color: var(--dark-letter);
  font-family: Arizona, flare;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.about-icon {
  margin-top: 1rem;
  margin-right: 1rem;
}

::ng-deep.mat-bottom-sheet-container-medium {
  background-color: var(--background-grey);
  max-width: 100vw;
  width: 100vw !important;
  height: 100vh !important;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    margin-block: 1.5rem;
  }
}
