<main class="main">
  <div *ngIf="isPortrait" class="rotate-device">
    <img class="m-b-2" src="assets/layout-images/menniz_white_no_background.png"
         alt="MENNIZ" width="262" height="48">
    <p>Please rotate your device for a better experience.</p>
    <mat-icon class="rotate-icon">screen_rotation</mat-icon>
  </div>

  <div *ngIf="!isPortrait">
    <header class="fixed-header">
      <div class="about-icon">
        <img id="openCloseIcon" src="assets/svg/plus.svg"
             class="add-icon" (click)="openAbout()">
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</main>


<script src="test.js"></script>
