.projects-container {
  margin: 2rem;
  margin-top: 250px;
}

.project-description {
  font-family: math; // TODO: CHECK THIS FONT
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--grey-letter);
}

.project-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
