.projects-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.project-item {
  height: 100vh;
}

.project-description {
  width: 50%;
  margin-top: auto;
  margin-bottom: 2rem;
}

.project-image {
  width: 50%;
  margin-top: auto;
  margin-bottom: 2rem;
  &:hover {
    cursor: pointer;
  }
}

.fixed-description {
  font-family: 'Martina';
  font-variant-numeric: oldstyle-nums;
  position: fixed;
  bottom: 0;
  width: 50%;
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 550;
  color: var(--grey-letter);
  line-height: 0.9;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.fixed-description.active {
  opacity: 1;
}
