.projects-container {
  margin: 2rem;
}

.project-item {
  height: 100vh;
}

.project-description {
  font-family: math; // TODO: CHECK THIS FONT
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--grey-letter);
}

.project-image {
  margin-top: auto;
  margin-bottom: 2rem;
  &:hover {
    cursor: pointer;
  }
}
